@charset "ISO-8859-1";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #9ab3f5;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper{
    background-color: #f4f2f7;
    margin: 20px auto;
    max-width: 400px;
    padding: 15px 20px;
    border-radius: 10px;
}

h4{
    font-weight: 800;
    color: #888;
}

label{
    font-weight: 700;
    color: #888;
    font-size: 12px;
}

.card-no{
    border: none;
    outline: none;
    width: 90%;
    padding-left: 8px;
}
.form-control{
    outline: none;
    border: none;
    box-shadow:none;
}
.card-number{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 8px 2px;
}

.total{
	font-weight: bold;
	font-size: 20px;
}

.form-inline label{
    font-size: 1rem;
}
.focused{
    border: 2px solid #9ab3f5;
}
#form-footer a{
    margin: 0;
}
#form-footer p{
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #777;
}
@media(max-width:395px){
    .form-inline label{
        font-size: 12px;
    }
    #form-footer p{
        font-size: 11px;
    }
    .card-no{
        width: 85%;
    }
}