.contenedorpago{
    background-color: rgb(128, 128, 128, 0.2) ;
    height: auto;

}
.btncompraboleto button, a{
    margin: 1em;
}
.upspace{
    margin-top: 2em;
}

@media screen and (min-width:60em) {
.contenedorpago{
    border-radius: 1em;
    width: calc(100% - 4em);
    margin: 2em;
    padding: 5em;
}
}