.tabla-seleccion-butaca{
	border-spacing: 3px;
	border-collapse: unset;
	background-color: #0001;
}
.cuadro-butaca{
  	width: 22px;
  	height: 22px;
 	padding: 0px;
}
.cb-butacaV{/*vacio*/
}
.cb-butacaN{/*butaca no disponible*/
	background-color: #444;
}
.cb-butacaD{/*butaca disponible*/
	background-color: #FFF;
}